[access]
	inheritFrom = All-Projects
[project]
	description = AllJoyn Yocto recipes
	state = read only
[access "refs/for/refs/heads/*"]
	push = group meta-alljoyn
[access "refs/heads/*"]
	abandon = group meta-alljoyn
	create = group meta-alljoyn
	forgeAuthor = group meta-alljoyn
	label-Code-Review = -2..+2 group meta-alljoyn
	submit = group meta-alljoyn
	editTopicName = group meta-alljoyn
[access "refs/meta/config"]
	read = group meta-alljoyn
[access "refs/tags/*"]
	pushTag = group meta-alljoyn
	pushSignedTag = group meta-alljoyn
[access "refs/for/*"]
	pushMerge = group meta-alljoyn
[access "refs/*"]
	read = group GitHub Replication
